# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  node: circleci/node@4.1
  
workflows:
  node-tests:
    jobs:
      - node/test
run_tests:
    docker:
      - image: circleci/node:10.0-browsers
    steps:
      - checkout
      - run:
          name: "Run Jest and Collect Coverage Reports"
          command: npx jest --coverage
